.user-avatar-container {
  text-align: center;
  padding-top: 20px;
}

.avatar {
  display: inline-block;
}

.user-info-container {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
}
