<div class="user-avatar-container">
    <img class="avatar" src={{imgname}} alt="">
</div>
<div class="user-info-container">
  <!--<mat-form-field id="address-selector" class="username-field">
    <input type="text" matInput id="size" placeholder="Username" [(ngModel)]="username">
  </mat-form-field>-->
  <mat-form-field id="address-selector" class="address-field">
    <input type="text" readonly="readonly" matInput id="size" placeholder="Address" [(ngModel)]="model.account">
  </mat-form-field>
  <mat-form-field id="address-selector" class="address-field">
      <input type="text" readonly="readonly" matInput id="balance" placeholder="Balance" [(ngModel)]="model.balance">
  </mat-form-field>
</div>