<div *ngIf="problemType=='TSP'" class="problem-item">
  <div *ngIf="problemTSPList.length!=0" class="problem-item">
    <div class="problem-item-owner">
      <h4>Problem Owner</h4>
      <p>{{problemTSPList[index].from}}</p>
    </div>
    <div class="problem-item-size">
      <h4>Problem Size</h4>
      <p>{{problemTSPList[index].n}}</p>
    </div>
    <div *ngIf="problemTSPList[index].path.length!=0" class="problem-item-length">
      <h4>Best Solution's Length</h4>
      <p>{{problemTSPList[index].len}}</p>
    </div>
    <div *ngIf="problemTSPList[index].path.length==0" class="problem-item-length">
      <h4>Best Solution's Length</h4> -
    </div>
    <div *ngIf="problemTSPList[index].path.length!=0" class="problem-item-best-solution">
      <h4>Best Solution</h4>
      <p>{{problemTSPList[index].path}}</p>
    </div>
    <div *ngIf="problemTSPList[index].path.length==0" class="problem-item-length">
      <h4>Best Solution</h4> -
    </div>
    <div class="problem-item-best-solution">
      <h4>Problem Instance</h4>
      <div *ngFor="let row of problemTSPList[index].matrix">
        <p>{{row}}</p>
      </div>
    </div>
    <div class="problem-item-reward">
      <h4>Base Price</h4>
      <p>{{problemTSPList[index].basePrice}}</p>
    </div>
    <div class="problem-item-reward">
      <h4>Rate</h4>
      <p>{{problemTSPList[index].rate}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-form-field class="problem-new-path">
    <textarea matInput placeholder="Please enter your solution." [(ngModel)]="newPath"></textarea>
  </mat-form-field>
  <button class="problem-solution-submit-button" (click)="submitTSPSolution()" mat-button> Submit Solution </button>
</div>
<div *ngIf="problemType=='graphColoring'" class="problem-item">
  <div *ngIf="problemGCList.length!=0" class="problem-item">
    <div class="problem-item-owner">
      <h4>Problem Owner</h4>
      <p>{{problemGCList[index].from}}</p>
    </div>
    <div class="problem-item-size">
      <h4>Problem Size</h4>
      <p>{{problemGCList[index].instanceSize}}</p>
    </div>
    <div *ngIf="problemGCList[index].coloring.length!=0" class="problem-item-length">
      <h4>Current Number of Colors</h4>
      <p>{{problemGCList[index].k_min}}</p>
    </div>
    <div *ngIf="problemGCList[index].coloring.length==0" class="problem-item-length">
      <h4>Current Number of Colors</h4> -
    </div>
    <div *ngIf="problemGCList[index].coloring.length!=0" class="problem-item-best-solution">
      <h4>Best Solution</h4>
      <p>{{problemGCList[index].coloring}}</p>
    </div>
    <div *ngIf="problemGCList[index].coloring.length==0" class="problem-item-length">
      <h4>Best Solution</h4> -
    </div>
    <div class="problem-item-best-solution">
      <h4>Problem Instance</h4>
      <div *ngFor="let row of problemGCList[index].instance">
        <p>{{row}}</p>
      </div>
    </div>
    <div class="problem-item-reward">
      <h4>Base Price</h4>
      <p>{{problemGCList[index].basePrice}}</p>
    </div>
    <div class="problem-item-reward">
      <h4>Rate</h4>
      <p>{{problemGCList[index].rate}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-form-field class="problem-new-path">
    <textarea matInput placeholder="Please enter your solution." [(ngModel)]="newColoring"></textarea>
  </mat-form-field>
  <button class="problem-solution-submit-button" (click)="submitGCSolution()" mat-button> Submit Solution </button>
</div>
<div *ngIf="problemType=='intPartition'" class="problem-item">
  <div *ngIf="problemIPList.length!=0" class="problem-item">
    <div class="problem-item-owner">
      <h4>Problem Owner</h4>
      <p>{{problemIPList[index].from}}</p>
    </div>
    <div class="problem-item-size">
      <h4>Integer to be Partitioned</h4>
      <p>{{problemIPList[index].instance}}</p>
    </div>
    <div *ngIf="problemIPList[index].partition.length!=0" class="problem-item-length">
      <h4>Number of Submitted Partitions</h4>
      <p>{{problemIPList[index].numPtn}}</p>
    </div>
    <div *ngIf="problemIPList[index].partition.length==0" class="problem-item-length">
      <h4>Number of Submitted Partitions</h4> -
    </div>
    <div *ngIf="problemIPList[index].partition.length!=0" class="problem-item-best-solution">
      <h4>Known Partitions</h4>
      <div *ngFor="let partition of problemIPList[index].partition">
        <p>{{partition}}</p>
      </div>
    </div>
    <div *ngIf="problemIPList[index].partition.length==0" class="problem-item-length">
      <h4>Known Partitions</h4> -
    </div>
    <div class="problem-item-reward">
      <h4>Base Price</h4>
      <p>{{problemIPList[index].basePrice}}</p>
    </div>
    <div class="problem-item-reward">
      <h4>Rate</h4>
      <p>{{problemIPList[index].rate}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-form-field class="problem-new-path">
    <textarea matInput placeholder="Please enter your solution." [(ngModel)]="newPartition"></textarea>
  </mat-form-field>
  <button class="problem-solution-submit-button" (click)="submitIPSolution()" mat-button> Submit Solution </button>
</div>
<div *ngIf="problemType=='data'" class="data-item">
  <div *ngIf="dataList.length!=0" class="data-item">
    <div class="data-item-owner">
      <h4>Data Owner</h4>
      <p>{{dataList[index].from}}</p>
    </div>
    <div class="data-item-size">
      <h4>Name</h4>
      <p>{{dataList[index].name}}</p>
    </div>
    <div class="data-item-price">
      <h4>Price</h4>
      <p>{{dataList[index].price}}</p>
    </div>
    <div class="data-item-description">
      <h4>Description</h4>
      <p>{{dataList[index].description}}</p>
    </div>
    <div class="data-item-header">
      <h4>Header</h4>
      <p>{{dataList[index].header}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-form-field class="data-test-path">
    <input type="text" matInput placeholder="Please enter the path of your csv file for test data."
      [(ngModel)]="testCSVPath">
  </mat-form-field>
  <button class="data-request-submit-button" (click)="dataRequest()" mat-button> Request </button>
</div>