<mat-toolbar color="primary">
    <button mat-button color="accent" routerLink="/metasender" routerLinkActive="active">MLChain</button>
    <button mat-button routerLink="/create" routerLinkActive="active">Submit a Problem</button>
    <button mat-button routerLink="/user" routerLinkActive="active">User Info</button>
</mat-toolbar>

<router-outlet></router-outlet>