<mat-card>
  
  <mat-card-content>
    <mat-form-field id="address-selector" class="address-field">
      <mat-select name="account" (selectionChange)="refreshBalance()" [(value)]="model.account" placeholder="Address">
        <mat-option *ngFor="let account of accounts" [value]="account">{{account}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card-header>Balance</mat-card-header>
    <p>You have <span id="balance">{{model.balance}}</span> META</p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput id="amount" placeholder="Amount" (change)="setAmount($event)">
    </mat-form-field>
    <mat-form-field id="address-selector" class="address-field">
      <mat-select (change)="setReceiver($event)" [(value)]="model.receiver" placeholder="Address">
        <mat-option *ngFor="let account of chosenAccounts" [value]="account">{{account}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button id="send" (click)="sendCoin()">Send MetaCoin</button>
    <button mat-button id="propose" (click)="propose()">Propose</button>
    <button mat-button id="accept" (click)="accept()">Accept</button>
  </mat-card-content>
</mat-card>

<mat-form-field id="address-selector" class="address-field">
  <mat-select name="proposals" placeholder="proposals">
    <mat-option *ngFor="let p of model.proposals" [value]="p">{{p}}</mat-option>
  </mat-select>
</mat-form-field>


<div id="address-selector" class="address-field">
  <div name="problems">
    <div *ngFor="let p of problems" >
      <div>{{p[0]}}</div>
      <div>{{p[1]}}</div>
      <div>{{p[2]}}</div>
      <button mat-button id="send" (click)="solveProblem($event, p[0])">solve problem</button>
    </div>
  </div>
</div>