<div class="proposal-container">
  <mat-card class="proposal-get">
    <div class="selectProblemType">
      <h4>Please select the problem type.</h4>
      <mat-form-field>
        <mat-label>Problems</mat-label>
        <select matNativeControl [(ngModel)]="problemType" required>
          <option value="TSP">Travelling Salesman</option>
          <option value="graphColoring">Graph Coloring</option>
          <!--<option value="primeFactorization">Prime Factorization</option>-->
          <option value="intPartition">Integer Partitioning</option>
          <option value="data">Data</option>
        </select>
      </mat-form-field>
    </div>
    <div *ngIf="problemType=='TSP'" class="inputContainer">
      <mat-list role="list">
        <div mat-list-item *ngFor="let problem of problemTSPList; let i = index" role="listitem">
          <div class="problem-item">
            <div class="problem-item-owner">
              <h4>Problem Owner</h4>
              <p>{{problem.from}}</p>
            </div>
            <div class="problem-item-size">
              <h4>Problem Size</h4>
              <p>{{problem.n}}</p>
            </div>
            <div *ngIf="problem.path.length!=0" class="problem-item-length">
              <h4>Best Solution's Length</h4>
              <p>{{problem.len}}</p>
            </div>
            <div *ngIf="problem.path.length==0" class="problem-item-length">
              <h4>Best Solution's Length</h4> -
            </div>
            <div *ngIf="problem.path.length!=0" class="problem-item-best-solution">
              <h4>Best Solution</h4>
              <p>{{problem.path}}</p>
            </div>
            <div *ngIf="problem.path.length==0" class="problem-item-length">
              <h4>Best Solution</h4> -
            </div>
            <div class="problem-item-reward">
              <h4>Base Price</h4>
              <p>{{problem.basePrice}}</p>
            </div>
            <div class="problem-item-reward">
              <h4>Problem Rate</h4>
              <p>{{problem.rate}}</p>
            </div>
            <button class="problem-detail-button" mat-button [routerLink]="['/problemdetail', problemType, i]"
              routerLinkActive="active"> Problem Detail </button>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-list>
    </div>
    <div *ngIf="problemType=='graphColoring'" class="inputContainer">
      <mat-list role="list">
        <div mat-list-item *ngFor="let problem of problemGCList; let i = index" role="listitem">
          <div class="problem-item">
            <div class="problem-item-owner">
              <h4>Problem Owner</h4>
              <p>{{problem.from}}</p>
            </div>
            <div class="problem-item-size">
              <h4>Problem Size</h4>
              <p>{{problem.instanceSize}}</p>
            </div>
            <div *ngIf="problem.coloring.length!=0" class="problem-item-length">
              <h4>Current Number of Colors</h4>
              <p>{{problem.k_min}}</p>
            </div>
            <div *ngIf="problem.coloring.length==0" class="problem-item-length">
              <h4>Current Number of Colors</h4> -
            </div>
            <div *ngIf="problem.coloring.length!=0" class="problem-item-best-solution">
              <h4>Best Solution</h4>
              <p>{{problem.coloring}}</p>
            </div>
            <div *ngIf="problem.coloring.length==0" class="problem-item-length">
              <h4>Best Solution</h4> -
            </div>
            <div class="problem-item-reward">
              <h4>Base Price</h4>
              <p>{{problem.basePrice}}</p>
            </div>
            <div class="problem-item-reward">
              <h4>Rate</h4>
              <p>{{problem.rate}}</p>
            </div>
            <button class="problem-detail-button" mat-button [routerLink]="['/problemdetail', problemType, i]"
              routerLinkActive="active"> Problem Detail </button>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-list>
    </div>
    <div *ngIf="problemType=='intPartition'" class="inputContainer">
      <mat-list role="list">
        <div mat-list-item *ngFor="let problem of problemIPList; let i = index" role="listitem">
          <div class="problem-item">
            <div class="problem-item-owner">
              <h4>Problem Owner</h4>
              <p>{{problem.from}}</p>
            </div>
            <div class="problem-item-size">
              <h4>Integer to be Partitioned</h4>
              <p>{{problem.instance}}</p>
            </div>
            <div *ngIf="problem.partition.length!=0" class="problem-item-length">
              <h4>Number of Submitted Partitions</h4>
              <p>{{problem.numPtn}}</p>
            </div>
            <div *ngIf="problem.partition.length==0" class="problem-item-length">
              <h4>Number of Submitted Partitions</h4> -
            </div>
            <div class="problem-item-reward">
              <h4>Base Price</h4>
              <p>{{problem.basePrice}}</p>
            </div>
            <div class="problem-item-reward">
              <h4>Rate</h4>
              <p>{{problem.rate}}</p>
            </div>
            <button class="problem-detail-button" mat-button [routerLink]="['/problemdetail', problemType, i]"
              routerLinkActive="active"> Problem Detail </button>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-list>
    </div>
    <div *ngIf="problemType=='data'" class="inputContainer">
      <mat-list role="list">
        <div mat-list-item *ngFor="let data of dataList; let i = index" role="listitem">
          <div class="data-item">
            <div class="data-item-owner">
              <h4>Data Owner</h4>
              <p>{{data.from}}</p>
            </div>
            <div class="data-item-size">
              <h4>Data Name</h4>
              <p>{{data.name}}</p>
            </div>
            <div class="data-item-price">
              <h4>Price</h4>
              <p>{{data.price}}</p>
            </div>
            <div class="data-item-description">
              <h4>Description</h4>
              <p>{{data.description}}</p>
            </div>
            <div class="data-item-header">
              <h4>Header</h4>
              <p>{{data.header}}</p>
            </div>
            <button class="data-detail-button" mat-button [routerLink]="['/problemdetail', problemType, i]"
              routerLinkActive="active"> Data Detail </button>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-list>
    </div>
  </mat-card>
</div>