.proposal-container {
  display: flex;
}

.proposal-get, .proposal-post {
  display: inline;
  width: 100%;
}

.problem-item{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.problem-item-owner {
  margin-top: 10px;
}

h4 {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.problem-detail-button {
  align-items: left;
}