.selectProblemType {
  padding-left: 100px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}

.createNewProblemButton {

  padding-left: 100px;
}