<div class="selectProblemType">
  <h4>Please select the problem type that you want to submit.</h4>
  <mat-form-field>
    <mat-label>Problems</mat-label>
    <select matNativeControl [(ngModel)]="problemType" required>
      <option value="TSP">Travelling Salesman</option>
      <option value="graphColoring">Graph Coloring</option>
      <!--<option value="primeFactorization">Prime Factorization</option>-->
      <option value="intPartition">Integer Partitioning</option>
      <option value="data">Data</option>
    </select>
  </mat-form-field>
</div>
<div *ngIf="problemType=='TSP'" class="inputContainer">
  <mat-form-field>
    <input type="text" matInput id="basePrice" placeholder="Base price" [(ngModel)]="tsp.basePrice">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput id="matrix" placeholder="Rate" [(ngModel)]="tsp.rate">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Initial path (optional)" [(ngModel)]="tsp.pathText"></textarea>
  </mat-form-field>
  <div> Please enter the number of vertices to the first row and the adjacency matrix to the rest.</div>
  <textarea [(ngModel)]="tsp.problemMatrixText" placeholder=""></textarea>
</div>
<div *ngIf="problemType=='graphColoring'" class="inputContainer">
  <mat-form-field>
    <input type="text" matInput id="basePrice" placeholder="Base price" [(ngModel)]="gc.basePrice">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput id="matrix" placeholder="Rate" [(ngModel)]="gc.rate">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Initial coloring (optional)" [(ngModel)]="gc.coloringText"></textarea>
  </mat-form-field>
  <div> Please enter the number of vertices to the first row and the adjacency matrix to the rest.</div>
  <textarea [(ngModel)]="gc.problemMatrixText" placeholder=""></textarea>
</div>
<div *ngIf="problemType=='intPartition'" class="inputContainer">
  <mat-form-field>
    <input type="text" matInput id="basePrice" placeholder="Base price" [(ngModel)]="ip.basePrice">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput id="matrix" placeholder="Rate" [(ngModel)]="ip.rate">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Initial partition (optional)" [(ngModel)]="ip.partitionText"></textarea>
  </mat-form-field>
  <div> Please enter the integer to be partitioned.</div>
  <textarea [(ngModel)]="ip.problemIntText" placeholder=""></textarea>
</div>
<div *ngIf="problemType!=null" class="createNewProblemButton">
  <div *ngIf="problemType=='TSP'">
    <button mat-button (click)="createNewTSP()">Submit</button>
  </div>
  <div *ngIf="problemType=='graphColoring'">
    <button mat-button (click)="createNewGC()">Submit</button>
  </div>
  <div *ngIf="problemType=='intPartition'">
    <button mat-button (click)="createNewIP()">Submit</button>
  </div>
</div>
<div *ngIf="problemType=='data'" class="inputContainer">
  <mat-form-field>
    <input type="text" matInput id="Name" placeholder="Name" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput id="Price" placeholder="Price" [(ngModel)]="data.price">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="data.description"></textarea>
  </mat-form-field>
  <div> Please enter the header of your CSV file.</div>
  <textarea [(ngModel)]="data.header" placeholder=""></textarea>
  <div *ngIf="problemType=='data'">
    <button mat-button (click)="createNewData()">Submit</button>
  </div>
</div>
<router-outlet></router-outlet>